html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height (+ top padding of the same) */
  margin-bottom: 80px;
  /* Margin top by navbar height */
  margin-top: 50px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222;
  padding: 10px;
}

.site-footer ul {
  margin-bottom: 0;
}

.site-footer a {
  color: #fff;
}

.sessions-list {
  list-style: none;
  padding-left: 0;
  margin-left: 240px;
  margin-bottom: 80px;
}

.sessions-list ul {
  list-style-type: disc;
}

.session-title-index,
.main-header-subtitle {
  display: block;
}

.session-header,
.main-header {
  padding-left: 240px;
}

.session-tabs {
  bottom: 0;
  width: 200px;
  background-color: #fff;
  padding-top: 24px;
}

.session-tabs.affix-top {
  position: absolute;
  top: 172px;
}

.session-tabs.affix {
  position: fixed;
  top: 51px;
}

.session {
  min-height: 400px;
  margin-left: 200px;
  padding: 0 40px 80px;
}

.session p img {
  margin: 20px 0;
  /* Same as `.img-responsive` */
  display: block;
  max-width: 100%;
  height: auto;
}
