/* Hide web-specific content */
.navbar,
.session-tabs,
.session-pagination,
.site-footer {
  display: none !important;
}

/* Show all tabs */
.tab-content > .tab-pane {
  display: block !important;
}

/* Remove left indent on content */
.session {
  margin-left: 0 !important;
}

.sessions-list {
  margin-left: 40px !important;
}

.session-header,
.page-header {
  padding-left: 40px !important;
}

.session section {
  page-break-after: always;
}

/* Don't add an empty page after the last section */
.session section:last-child {
  page-break-after: avoid;
}

.task {
  page-break-inside: avoid;
}

.sessions-list a {
  color: inherit !important;
}

.pdf-only {
  display: initial !important;
}

.hidden-on-pdf {
  display: none !important
}
