---
layout: default
---

<div class="container sessions-list-wrapper">
  <header class="page-header main-header">
    <h1>
      <small class="main-header-subtitle">CodeFirst:Girls</small>
      Advanced Ruby
    </h1>
  </header>

  <ol class="sessions-list">
    {% for session_file in site.data.sessions_order %}
      {% assign relative_path = session_file | prepend:"_sessions/" | append:".md" %}
      {% assign session = site.sessions | where:"relative_path", relative_path | first %}

      <li>
        <h2 class="h4">
          <a class="session-link" href="{{ session.url | prepend: site.baseurl }}">
            Session {{ forloop.index }}: {{ session.title }}
          </a>
        </h2>

        <ul>
          {% for topic in session.topics %}
            <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
</div>
